<h3>对阵双方</h3>
<div ng-controller="CompetitorViewCtrl as cvc" class="container-fluid">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">详情</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2">ID</label>
                        <div class="col-lg-10">
                            <input class="form-control" ng-model="competitor.id" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">名称</label>
                        <div class="col-lg-10">
                            <input class="form-control" ng-model="competitor.name" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">昵称</label>
                        <div class="col-lg-10">
                            <input class="form-control" ng-model="competitor.nickname" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">状态</label>
                        <div class="col-lg-10">
                            <input class="form-control" ng-model="competitor.status" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">类型</label>
                        <div class="col-lg-10">
                            <select class="form-control" ng-model="competitor.type" ng-options="type.name as type.display for type in cvc.types">
                                <option value="">选择参赛者类型</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">来源URL</label>
                        <div class="col-lg-10">
                            <a target="_blank" ng-href="{{sourceUrl}}">{{sourceUrl}}</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">SMS_ID</label>
                        <div class="col-lg-10">
                            <input class="form-control" ng-model="competitor.smsId" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">创建时间</label>
                        <div class="col-lg-10">
                            <input class="form-control" ng-model="competitor.createAt" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">更新时间</label>
                        <div class="col-lg-10">
                            <input class="form-control" ng-model="competitor.updateAt" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    对阵双方关联<span class="help-block">该数据没有自动匹配到SMS数据，请手动选择要关联到的SMS数据。
                    如果SMS中没有该对阵双方数据，请点击下面的新建或删除按钮。</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-2">SMS_ID</label>
                            <div class="col-lg-10">
                                <tags-input add-from-autocomplete-only="true" key-property="id" display-property="name" ng-model="cvc.tags" min-length="1" max-tags="1" placeholder="请输入需关联到的SMS_ID">
                                    <auto-complete min-length="1" template="my-custom-template" source="cvc.loadTags($query)"></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-2">
                                <button class="btn btn-m btn-info" ng-click="cvc.attachSms()">关联SMS</button>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-m btn-info" ng-click="cvc.cancelAttachSms()">取消关联</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    状态修改<span class="help-block">如确认SMS中无此赛事，请点击“确认”，在伯乐中创建该数据，同时数据将被自动同步到SMS。
                    如为无效数据，请点击“无效”。“恢复”会将经过“确认”或“无效”操作的赛事恢复为新建状态。</span>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <button class="btn btn-m btn-info" ng-click="cvc.openExport()">确认
                                </button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-m btn-danger" ng-click="cvc.updateStatus(3)">无效
                                </button>
                            </div>
                            <div class="col-lg-3">
                                <button class="btn btn-m btn-danger" ng-click="cvc.updateStatus(1)">恢复</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--http://mbenford.github.io/ngTagsInput/documentation/guides/custom-templates-->
    <script type="text/ng-template" id="my-custom-template">
        <div class="tag-template">
            <div>
                <span>{{data.id}}--{{data.gameName}}--{{data.name}}</span>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="exportDialog">
        <p>有以下不同源的同名球队/球员，请确认是否一并导出：</p>
        <div class="form-group" ng-repeat="item in ngDialogData">
            <div class="checkbox c-checkbox">
                <label>
                    <input type="checkbox" ng-model="item.checked" />
                    <span class="fa fa-check"></span><a href="#/app/competitor/view/{{item.id}}" target="_blank">{{item.source}}-{{item.name}}</a>
                </label>
            </div>
        </div>
        <button type="button" ng-click="confirm()" class="btn btn-sm btn-primary mr">确定</button>
        <button type="button" ng-click="closeThisDialog()" class="btn btn-sm btn-default">取消</button>
    </script>
</div>
