<h3>赛程
    <small>赛程列表</small>
</h3>
<div ng-controller="MatchListCtrl as matches" class="container-fluid">

    <!-- start query panel-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" placeholder="ID/名称" class="form-control" ng-model="matches.search_q"/>
                </div>
                <div class="col-md-2">
                    <select class="form-control" ng-model="matches.search_status"
                            ng-options="status.id as status.name for status in matches.statusList">
                        <option value="">选择数据状态</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" ng-click="matches.search()">模糊查找</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end  querypanel-->

    <!-- Ajax Example-->
    <div class="panel panel-default">
        <table ng-table="matches.tableParams" class="table table-bordered table-striped">
            <tbody>
            <tr ng-repeat="entry in $data">
                <td data-title="'ID'">{{entry.id}}</td>
                <td data-title="'SMS_ID'">{{entry.smsId}}</td>
                <td data-title="'赛事名称'">{{entry.competitionName}}</td>
                <td data-title="'比赛名称'">{{entry.name}}</td>
                <td data-title="'状态'">{{matches.getStatusName(entry.status)}}</td>
                <td data-title="'开始日期'">{{entry.startTime | moment_yyyymmddhhmmss : 'format' : 'YYYY-MM-DD HH:mm:ss'}}</td>
                <td data-title="'更新日期'">{{entry.updateAt | moment_yyyymmddhhmmss : 'format' : 'YYYY-MM-DD HH:mm:ss'}}</td>
                <td data-title="'操作'">
                    <a ui-sref="app.match-view({mid:entry.id})" target="_blank">
                        <button type="button" class="btn btn-sm btn-info">
                            <em class="fa fa-eye"></em>
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>